<nav class = "navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Volunteering Marathon <sub>v0.1</sub></a>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <mat-icon>event_available</mat-icon>
          <span>Available Events</span>
        </button>
        <button mat-menu-item>
          <mat-icon>event_note</mat-icon>
          <span>Upcoming Events</span>
        </button>
        <button mat-menu-item>
          <mat-icon>event</mat-icon>
          <span>Registered Events</span>
        </button>
  </mat-menu>
</nav>
<router-outlet></router-outlet>