<div class="left-event-page"></div>
<div *ngFor="let item of items" class='matcontainer'>
<mat-card class="example-card" [routerLink]="[ '/eventinfo', item ]">
  <mat-card-header>
    <mat-card-title>Blood Camp</mat-card-title>
    <mat-card-subtitle>Apollo Blood Camp</mat-card-subtitle>
    <div class="flex-spacer"></div>
    <mat-card-actions>
      <button mat-button>Register</button>
    </mat-card-actions>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/Volunteer-Image.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
    Donate Blood and save a million lives.
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="right-event-page"></div>