<div >
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Blood Camp</mat-card-title>
    <mat-card-subtitle>Apollo Blood Camp</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/Volunteer-Image.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
    Donate Blood and save a million lives.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Blood Camp</mat-card-title>
    <mat-card-subtitle>Apollo Blood Camp</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/Volunteer-Image.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
    Donate Blood and save a million lives.
    </p>
  </mat-card-content>
</mat-card>
</div>